:root{
	--accent: #F3D2F7;
	--accentAnolgo: #E382C9;
	--width: calc(100% - 10px);
	--bottomHeight: calc(85% - 15px);
	--topHeight: 15%;
	--topHeightJS: 15%;
	--boxBackgroundColor: #1f1f1f;
	--waveTop: 10%;
	--mouseposx: 90000px;
	--mouseposy: 90000px;
	--mouseposx1: 90000px;
	--mouseposy1: 90000px;
	--mouseposx2: 90000px;
	--mouseposy2: 90000px;
	--mouseposx3: 90000px;
	--mouseposy3: 90000px;
	--mouseposx4: 90000px;
	--mouseposy4: 90000px;
	--mouseposx5: 90000px;
	--mouseposy5: 90000px;
	--harhar: none;
	--harhar2: none;
	--harhar3: none;
	--harhar4:none;
	--border-color: transparent;
	--statusHeight: 0px;
	--topMask: calc(100% - var(--statusHeight));
}

@font-face {
	font-family: "determination";
	src: url("../images/fonts/DeterminationSansWeb.otf");
}
@font-face {
	font-family: "title";
	src: url("../images/fonts/MonsterFriendFore.otf");
}
table.player {
	table-layout: fixed;
	overflow-x:hidden;

	height: 50px;
	border:2px solid var(--accent);
	background-color: #1d1d1d;
	color: white;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:24px;
	margin-bottom:20px;
	
}
button{
	border:2px solid var(--accent);
	background-color: #1d1d1d;
	background-image: url('../images/stars dark different.gif.gif');
	color: white;
	cursor:url(https://raw.githubusercontent.com/gamrtiem/gamrtiem.github.io/master/images/ezgif-1-b691d279d8.gif), auto;
	font-family: "determination";
}
#top {
	width:var(--width);
	height:var(--topHeight);
	background-color:var(--boxBackgroundColor);
	background-image: url('../images/stars dark different.gif.gif');
}
#bottom {
	margin-top:5px;
	width:var(--width);
	height: var(--bottomHeight);
	background-color:var(--boxBackgroundColor);
	box-sizing: content-box;
	background-image: url('../images/stars dark different.gif.gif');
	mask-composite: exclude;
	clip-path: polygon(100% 0, 100% var(--topMask), calc(100% - 395px) var(--topMask), calc(100% - 395px) 100%, 0 100%, 0 0);
}
#mainframe {
	width:var(--width);
	height: calc(var(--bottomHeight));
	background-color:var(--boxBackgroundColor);
	box-sizing: content-box;
	background-image: url('../images/stars dark different.gif.gif');
	mask-composite: exclude;
	clip-path: polygon(100% 0, 100% var(--topMask), calc(100% - 395px) var(--topMask), calc(100% - 395px) 100%, 0 100%, 0 0);
}
html{
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	color:white;
	background: linear-gradient(#eeeeee, #d87de3);
	cursor:url(https://raw.githubusercontent.com/gamrtiem/gamrtiem.github.io/master/images/ezgif-1-b691d279d8.gif), auto;
}
body{
	margin:5px;
	width: 100%; 
    height: 100%;
	background: var(--border-color);
	font-weight: 10;
	font-size:200%;
	font-family: "determination";
}
th {
	font-weight: normal;
}
a {
	color: var(--accent);
	text-decoration: none;
	cursor:url(https://raw.githubusercontent.com/gamrtiem/gamrtiem.github.io/master/images/ezgif-1-b691d279d8.gif), pointer;
	transition: .5s ease-out;
}
li {
	padding-bottom: 4px;
}
a:hover{
	color: var(--accentAnolgo);
	transition: 0s ease-out;
}
#homelink{
	position:absolute;
	top: calc(var(--topHeight) - 30px);
	left: calc(100% - var(--topHeightJS) - 65px);
}
#projectslink{
	position:absolute;
	top: calc(var(--topHeight) - 30px);
	left: calc(50% - 55px);
}
#aboutlink{
	position:absolute;
	top: calc(var(--topHeight) - 30px);
	left: calc(var(--topHeightJS) + 15px);
}


.fastbear{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fastbear{
	display: var(--harhar);
}
#fasetbear{
	display: var(--harhar2);
}
#faestbear{
	display: var(--harhar3);
}


.wave span{
	transform:translateY(-5px);
	display:table-cell;
	animation:wave 1.5s infinite ease-in-out;
	top: var(--waveTop);
	position:relative;
}
@keyframes wave {
	0%{transform:translateY(-5px);}
	50%{transform:translateY(5px);}
	100%{transform:translateY(-5px);}
}



::selection {
  color: black;
  background: #f3d2f7;
}

p {
	padding: 20px 0 20px 20px;
	margin: 0 0 0 0;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.small {
	font-size: 60%;
	text-align: center !important;
	position: relative;
	display:inline-block;
	width:100%;
	top: -20px;
}
.scroller {
  overflow-y: scroll;
  scrollbar-color: #F3D2F7 #1d1d1d;
}
/* width */
::-webkit-scrollbar {
  color: #F3D2F7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3D2F7; 
}










/* ik this looks pretty bad but i cant find a better way :((*/



.wave span:nth-child(1) {
	animation-delay:0s;
}
.wave span:nth-child(2) {
	animation-delay:0.05s;
}
.wave span:nth-child(3) {
	animation-delay:0.1s;
}
.wave span:nth-child(4) {
	animation-delay:0.15s;
}
.wave span:nth-child(5) {
	animation-delay:0.2s;
}
.wave span:nth-child(6) {
	animation-delay:0.25s;
}


#loop {
	padding: 0 0 0 0;  
}
#loopA {
	padding: 0 0 0 0;  
}
#loopB {
	padding: 0 0 0 0;  
}
#loopC {
	padding: 0 0 0 0;  
}
#loopD {
	padding: 0 0 0 0;  
}
#loopE {
	padding: 0 0 0 0;  
}
#loopF {
	padding: 0 0 0 0;  
}
#loopG {
	padding: 0 0 0 0;  
}
#loopH {
	padding: 0 0 0 0;  
}




/* note to optimize these; can just be a big class with ids being the changes */
.box {
	border: 15px solid white;
	position: absolute;
	color: #F3D2F7;
	animation: rainbow 1s linear infinite;
	pointer-events: none;
	z-index: 1000
}
#box {
	opacity: 0.5;
  	left: var(--mouseposx);
  	top: var(--mouseposy);
}

#box2 {
  opacity: 0.4;
  left: var(--mouseposx1);
  top: var(--mouseposy1);
}


#box3 {
  opacity: 0.3;
  left: var(--mouseposx2);
  top: var(--mouseposy2);
}


#box4 {
  opacity: 0.2;
  left: var(--mouseposx3);
  top: var(--mouseposy3);
}

#box5 {
  opacity: 0.1;
  left: var(--mouseposx4);
  top: var(--mouseposy4);
}

@keyframes rainbow {
  0%   { border: 15px solid red; }
  25%  {border: 15px solid yellow;}
  50%  {border: 15px solid blue;}
  75%  {border: 15px solid green; }
  100% {border: 15px solid red;}
}

#statuscafe {
	z-index: 10;
	font-size: 50%;
    background-color: #1f1f1f;
	background-image: url('../images/stars dark different.gif.gif');

	padding: 5px;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
.bgmplayer{
	padding: 0 .5em .5em .5em;
	z-index: 10;
    background-color: #1f1f1f;
    border: 5px solid var(--border-color);
	background-image: url('../images/stars dark different.gif.gif');
}
#behindstatus {

}
.behindall{
	width:200%;
	height: 200%;
	z-index: -66;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../images/stars purp different.gif.gif');
	animation: bganim 12s linear infinite;
}

@keyframes bganim {
	0%   { top: -256px; left: -256px;}
	100% {top: 0; left: 0;}
}
@keyframes statusanim {
	0%   { top: 256px; left: 256px;}
	100% {top: 0; left: 0;}
}
video {
	border: 5px solid var(--accent);
	height: 70%;
	width: 98.5%;
}
#atabook {
	border: 5px solid var(--accent);
	overflow-y: scroll;
	scrollbar-color: #F3D2F7 #1d1d1d !important;
	margin-top: -40px;
	float: right;
	height: 460px;
	width:400px;
}