:root{
	--accent: #F3D2F7;
	--width: calc(100% - 10px);
	--bottomHeight: calc(85% - 15px);
	--topHeight: 15%;
	--topHeightJS: 15%;
	--boxBackgroundColor: #1f1f1f;
	--waveTop: 50px;
	--mouseposx: 90000px;
	--mouseposy: 90000px;
	--mouseposx1: 90000px;
	--mouseposy1: 90000px;
	--mouseposx2: 90000px;
	--mouseposy2: 90000px;
	--mouseposx3: 90000px;
	--mouseposy3: 90000px;
	--mouseposx4: 90000px;
	--mouseposy4: 90000px;
	--mouseposx5: 90000px;
	--mouseposy5: 90000px;
	--harhar: none;
	--harhar2: none;
	--harhar3: none;
	--harhar4:none;
}

@font-face {
	font-family: "determination";
	src: url("../images/DTM-Mono.ttf");
}
table.player {
	table-layout: fixed;
	overflow-x:hidden;

	height: 50px;
	border:2px solid #F3D2F7;  
	background-color: #1d1d1d;
	color: white;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:24px;
	margin-bottom:20px;
	
}
.button{
	border:2px solid #F3D2F7;  
	background-color: #1d1d1d;
	color: white;
	cursor:url(https://raw.githubusercontent.com/gamrtiem/gamrtiem.github.io/master/images/ezgif-1-b691d279d8.gif), auto;
}
#top {
	width:var(--width);
	height:var(--topHeight);
	background-color:var(--boxBackgroundColor);
}
#bottom {
	margin-top:5px;
	width:var(--width);
	height: var(--bottomHeight);
	background-color:var(--boxBackgroundColor);
	box-sizing: content-box;
	display:box;

}
html{ 
    margin: 5px; 
    padding: 0; 
    width: 100%; 
    height: 100%;
	overflow: hidden;
	color:white;
	cursor:url(https://raw.githubusercontent.com/gamrtiem/gamrtiem.github.io/master/images/ezgif-1-b691d279d8.gif), auto;

}
body{
	margin:0;
	width: 100%; 
    height: 100%;
	background-color:var(--accent);
	font-weight: 10;
	font-family: "determination";
}

a {
	color: var(--accent);
	text-decoration: none;
	cursor:url(https://raw.githubusercontent.com/gamrtiem/gamrtiem.github.io/master/images/ezgif-1-b691d279d8.gif), pointer;
}
#homelink{
	position:absolute;
	top: calc(var(--topHeight) - 15px);
	left: calc(100% - var(--topHeightJS) - 55px);
}
#projectslink{
	position:absolute;
	top: calc(var(--topHeight) - 15px);
	left: calc(50% - 40px);
}
#aboutlink{
	position:absolute;
	top: calc(var(--topHeight) - 15px);
	left: calc(var(--topHeightJS) + 15px);
}


.fastbear{
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#fastbear{
	display: var(--harhar);
}
#fasetbear{
	display: var(--harhar2);
}
#faestbear{
	display: var(--harhar3);
}


.wave span{
	transform:translateY(-5px);
	display:table-cell;
	animation:wave 1.5s infinite ease-in-out;
	top: var(--waveTop);
	position:relative;
}
@keyframes wave {
	0%{transform:translateY(-5px);}
	50%{transform:translateY(5px);}
	100%{transform:translateY(-5px);}
}



::selection {
  color: black;
  background: #f3d2f7;
}

p {
	padding: 20px 0 20px 20px;
	margin: 0 0 0 0;
	font-size: 100%;
}
.scroller {
  overflow-y: scroll;
  scrollbar-color: #F3D2F7 #1d1d1d;
}
/* width */
::-webkit-scrollbar {
  color: #F3D2F7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3D2F7; 
}










/* ik this looks pretty bad but i cant find a better way :((*/



.wave span:nth-child(1) {
	animation-delay:0s;
}
.wave span:nth-child(2) {
	animation-delay:0.05s;
}
.wave span:nth-child(3) {
	animation-delay:0.1s;
}
.wave span:nth-child(4) {
	animation-delay:0.15s;
}
.wave span:nth-child(5) {
	animation-delay:0.2s;
	padding-right: 5px;
}
.wave span:nth-child(6) {
	animation-delay:0.25s;
}
.wave span:nth-child(7) {
	animation-delay:0.3s;
}
.wave span:nth-child(8) {
	animation-delay:0.35s;
}




#loop {
	padding: 0 0 0 0;  
}
#loopA {
	padding: 0 0 0 0;  
}
#loopB {
	padding: 0 0 0 0;  
}
#loopC {
	padding: 0 0 0 0;  
}
#loopD {
	padding: 0 0 0 0;  
}
#loopE {
	padding: 0 0 0 0;  
}
#loopF {
	padding: 0 0 0 0;  
}
#loopG {
	padding: 0 0 0 0;  
}
#loopH {
	padding: 0 0 0 0;  
}



#box {
  border: 15px solid white;
  opacity: 0.5;
  position: absolute;
  left: var(--mouseposx);
  top: var(--mouseposy);
  color: #F3D2F7;
  animation: rainbow 1s linear infinite;
  pointer-events: none;
  z-index: 1000
}



#box2 {
  border: 15px solid white;
  opacity: 0.4;
  position: absolute;
  left: var(--mouseposx1);
  top: var(--mouseposy1);
  color: #F3D2F7;
  animation: rainbow 1s linear infinite;
  pointer-events: none;
  z-index: 1000
}


#box3 {
  border: 15px solid white;
  opacity: 0.3;
  position: absolute;
  left: var(--mouseposx2);
  top: var(--mouseposy2);
  color: #F3D2F7;
  animation: rainbow 1s linear infinite;
  pointer-events: none;
  z-index: 1000
}


#box4 {
  border: 15px solid white;
  opacity: 0.2;
  position: absolute;
  left: var(--mouseposx3);
  top: var(--mouseposy3);
  color: #F3D2F7;
  animation: rainbow 1s linear infinite;
  pointer-events: none;
  z-index: 1000
}

#box5 {
  border: 15px solid white;
  opacity: 0.1;
  position: absolute;
  left: var(--mouseposx4);
  top: var(--mouseposy4);
  color: #F3D2F7;
  animation: rainbow 1s linear infinite;
  pointer-events: none;
  z-index: 1000
}

@keyframes rainbow {
  0%   { border: 15px solid red; }
  25%  {border: 15px solid yellow;}
  50%  {border: 15px solid blue;}
  75%  {border: 15px solid green; }
  100% {border: 15px solid red;}
}