*{
		font-family: "determination";
		cursor:url(https://raw.githubusercontent.com/gamrtiem/gamrtiem.github.io/master/images/ezgif-1-b691d279d8.gif), auto;
}

:root {
  --blue: 100px;
  --firstbox: 10px;
  --white: 204px; 
  --spi: 360;
  --spin: 360deg;
  --sped: 2;
  --speed: 2s;
  --mouseposx: 1px;
  --mouseposy: 1px;
  --size: 15px;
  --time: 1;
  --smallbox: 1px;
  --time2: 1;
  --mouseposx2: -91px;
  --mouseposy2: -91px;
  --mouseposx3: -91px;
  --mouseposy3: -91px;
  --mouseposx4: -91px;
  --mouseposy4: -91px;
  --mouseposx5: -91px;
  --mouseposy5: -91px;
}
.scroller {
  overflow-y: scroll;
  scrollbar-color: #F3D2F7 #1d1d1d;
}
/* width */
::-webkit-scrollbar {
  color: #F3D2F7;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3D2F7; 
}
h1 {
	padding-left: 20px;
	font-size: 100%;
	font-family: "determination";
	color: white;
	
}
h2{
	padding-left: 20px;
	font-family: "determination";
	color: white;
}
para {
	font-size: 100%;
	font-family: "determination";
}
html{
	background-color: #F3D2F7;
}
th {
  border: 0px solid black;
  background-color: #1d1d1d;

}
body {
	overflow-x:hidden;
	overflow-y:hidden;
	height:100%;
	

}

/*table.tabl {
	
	height: 204px;
	width: 100%;
    vertical-align: top;

	
} */


@font-face {
	font-family: "determination";
	src: url("/images/DeterminationSansWebRegular-369X.ttf");
}

table.test {
overflow-y:scroll; 
height:100px; 
display:block;    
border:1px solid red;  
}
.button{
	border:2px solid #F3D2F7;  
	background-color: #1d1d1d;
	color: white;
}
#funy {
	animation: rotateAnimation var(--speed) linear infinite;
}
#demo {
	color:red;
}



#box {
  border: var(--size) solid white;
  opacity: 0.5;
  position: absolute;
  left: var(--mouseposx);
  top: var(--mouseposy);
  color: #F3D2F7;
  animation: example 1s linear infinite;
}



#box2 {
  border: var(--size) solid white;
  opacity: 0.4;
  position: absolute;
  left: var(--mouseposx1);
  top: var(--mouseposy1);
  color: #F3D2F7;
  animation: example 1s linear infinite;
}


#box3 {
  border: var(--size) solid white;
  opacity: 0.3;
  position: absolute;
  left: var(--mouseposx2);
  top: var(--mouseposy2);
  color: #F3D2F7;
  animation: example 1s linear infinite;
}


#box4 {
  border: var(--size) solid white;
  opacity: 0.2;
  position: absolute;
  left: var(--mouseposx3);
  top: var(--mouseposy3);
  color: #F3D2F7;
  animation: example 1s linear infinite;
}

#box5 {
  border: var(--size) solid white;
  opacity: 0.1;
  position: absolute;
  left: var(--mouseposx4);
  top: var(--mouseposy4);
  color: #F3D2F7;
  animation: example 1s linear infinite;
}
table.player {
	table-layout: fixed;
	overflow-x:hidden;

	height: 50px;
	border:2px solid #F3D2F7;  
	background-color: #1d1d1d;
	color: white;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:24px;
	margin-bottom:20px;
}

@keyframes rotateAnimation {
to {transform: rotateY(var(--spin));}
}
@keyframes example {
  0%   { border: var(--size) solid red; }
  25%  {border: var(--size) solid yellow;}
  50%  {border: var(--size) solid blue;}
  75%  {border: var(--size) solid green; }
  100% {border: var(--size) solid red;}
}
/* if the browser window is at least 800px-s wide: */
@media screen and (min-width: 0px) {
  table.tabl2 {
  table-layout: fixed;
  overflow-x:hidden;
  width: 484px;
  height: var(--blue);
   border-radius: 10px;
   }
}
@media screen and (min-width: 500px) {
  table.tabl2 {
  table-layout: fixed;
  overflow-x:hidden;
  width: 100%;
  height:var(--blue);}
   border-radius: 10px;
}
@media screen and (min-width: 0px) {
  table.tabl {
  table-layout: fixed;
  overflow-x:hidden;
  width: 484px;
  height:204px;
  margin-bottom: -2px;
   border-radius: 10px;
}
  
}
@media screen and (min-width: 500px) {
  table.tabl {
  table-layout: fixed;
  overflow-x:hidden;
  width: 100%;
  margin-bottom: -2px;
  height: 204px;
   border-radius: 10px;
  }
}
/* if the browser window is at least 1000px-s wide: */
/*media screen and (min-width: 1000px) {*/
/*  table {*/
/*  width: 80%;}*/
/*}*/
a {
	color: #F3D2F7;
	text-decoration: none;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: #f3d2f7;
}

::selection {
  color: black;
  background: #f3d2f7;
}

audio {
/*border-radius: 90px;*/
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(0%);
height: 45px;
margin-left: 20px;
margin-bottom: 5px;
}
audio::-webkit-media-controls-play-button {
  width: 4000px;
}